<div class="center hero-unit">
	<h2>About Us</h2>
	<p class='justify' >
Under the Ministry Of Heath the Child Health and Development Passport is a new way of revolutionize Jamaica’s approach to the management of children’s overall health, development and their wellbeing from 0 – 17 years old.  The passport will enable caregivers and policy makers to be able to track the health and development of children from birth in a comprehensive and holistic way. The passport includes information such as medical history and nutrition guide lines for the child.
</p>
<p><br/>
<b>Contact us</b><br/>
Ministry Of Health Head Office 2 – 4 King Street Kingston Jamaica<br/>
Telephone # 
967 – 1100-1, 967 – 1103, 967- 1107, 967 – 1110, 967-1112 </p>
</div>